.Left-Header-site-header {
    font-family: 'Oswald', sans-serif;  
    border: 1px solid rgb(61, 61, 61);
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
    background-color: #303849;
}

.Left-Header-site-header {
    grid-area: m;
}


/* ---------- */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
    display: flex;
    max-width: 600px;
    min-width: 200px;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .col-header {
    max-width: 14vw;
    min-width: 10vw;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
    
  }
  
  .item {
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #f7f6f7;
    padding: 0.8rem 1rem;
    color: #828282;
    text-align: center;
    cursor: grab;
  }
  
  .item:active {
    cursor: grabbing;
  }
  
  .placeholder {
    width: 150px;
    height: 66px;
  }
  
  .start {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
  }
  
  .progress {
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
  }
  
  .done {
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
  }
  .hold {
    background: rgb(7, 7, 7);
    border: 5px solid #eee;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  .hide {
    display: none;
  }
  .hovered {
    background: rgb(246, 246, 246);
    border-radius: 20px;
    transition: all 200ms ease-in-out;
  }