.Right-Header-site-header {
    font-family: 'Oswald', sans-serif;  
    border: 1px solid rgb(61, 61, 61);
    padding: 10px;
    margin: 5px;
    border-radius: 10%;

}

.Right-Header-site-header {
    grid-area: s;
}